#p8_frame {
   display:flex; width:100%; max-width:95vw; height:100vw; max-height:95vh; margin:auto;
}

@media (screen-spanning: single-fold-vertical) {
   /* styles applied in double-portrait (wide) mode */

}
@media (screen-spanning: single-fold-horizontal) {
   /* styles applied in double-landscape (tall) mode */
  #p8_frame {
    height: 72vw!important;
  }
  #p8_frame_0 {
    height: 500px!important;
  }
}
